@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
* {
    margin: auto;
    padding: auto;
    word-wrap: break-word;
    word-break: break-word;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: calc(2vmin + 14px);
    line-height: 20px;
    background: #fff;
    color: #000;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 1em;
}
h3, h2, h1, h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
/*navbar*/
nav {
    background-color: #111111;
    width: 100%;
    height: 50px;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
nav > #urls {
    text-align: center;
    margin-top: 10px;
}
nav > #urls > a {
    padding: 4px;
}
nav a:hover {
    transition: 0.25s;
    color: #e2e2e2;
}
.hireme {
    background: #e8dc2a;
    color: #000;
    border-radius: 30px;
}
.hireme:hover {
    color: #000;
}
main {
    width: 100%;
    margin-top: 55px;
    text-align: center;
}
main .logo {
    user-select: none;
    width: 300px;
    height: 250px;
    max-height: 500px;
}
main #whoiam p {
    padding: 0.5rem 1rem;
    font-size: 14px;
    width: 80%;

}
#whoiam {
    width: 100%;
}
#whoiam h1 {
    text-align: center;
    font-size: 26px;
}
.services {
    margin-top: 25px;
    align-self: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.service-box {
    margin: 100px auto;
    width: 80%;
    display: flex;
    max-width: 700px;
    border-radius: 3px;
    padding: 0.5 1rem;
    min-height: 100px;
    margin-top: 20px;
    text-align: center;
}
.service-box .content {
    margin: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% - 100px);
    text-align: center;
    margin: 10px;
    max-width: 450px;
}
.service-box img {
    width: 100px;
    height: 100px;
}
.service-box h2 {
    text-align: center;
    font-weight: 700;
    font-size: 17px;
} 
.service-box p {
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    word-spacing: 0.1em;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    display: flex;
    width: 90%;
    max-width: 700px;
    margin: 0;
}
@media (max-width: 700px) {
    .service-box img {
        width: 75px;
        height: 75px;
    }
}
@media (max-width: 300px) {
    main .logo {
        width: 200px;
        height: 150px;
    }
}
/*BLOGS*/
.blogs {
    width: 80%;
}
.newpost {
    transition: 0.3s;
	text-align: start;
	display: inline-block;
	margin: 0 0 1em;
    max-width: 409px;
    border-radius: 1px;
    margin-top: 70px;
    background: #f3f3f3;
	box-shadow: 0 4px 8px rgba(0,0,0,0.38);
	font-weight: 300;
    font-size: 13px;
}
.newpost .clicka {
    color: #000;
    text-decoration: none;
}
.newpost img {
    text-align: start;
	width: 100%;
	height: auto;
	max-height: 250px;
	background: #4f4f4f;
}
.newpost .content{
	padding: 1em;
	text-align: start;
	word-wrap: break-word;
    word-break: break-word;
}
.newpost p {
	padding: 0em;
	text-align: start;
	font-weight: 350;
	color: #111111;
	font-size: 20px;
	margin-bottom: 1em;
	margin-left: 0px;
    font-size: 14px;
}
.newpost p h3 {
    font-size: 22px;
	font-weight: 400;
	margin-top: 1em;
	margin-bottom: 1em;
}
