* {
    margin: auto;
    padding: auto;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 16px;
    padding-bottom: 20px;
    min-width: 100%;
    text-align: center;
    background-color: #fff;
}
p {
    margin: 0;
    padding: 0;
    max-width: 400px;
    display: block;
    text-align: start;
}
.container {
    text-align: start;
    width: 90%;
    max-width: 1300px;
    padding: 0 16px;
}
nav {
    height: 40px;
    z-index: 99999;
}
nav .fab{
    margin-top: 27px;
    color: #00acee;
    font-size: 24px;
}
nav .fab {
    float: right;
}
.logo {
    margin-top: -20px;
    margin-left: -25px;
    height: 120px;
}
@media (max-width: 300px) {
    nav .fab{
        display: none;
    }
}
.content {
    margin-top: 50px;
}
.sec-title {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    display: block;
}
.blogs {
    display: block;
}
.blog {
    display: inline-flex;
    flex-shrink: 1;
    text-align: start;
    padding: 16px;
    border-radius: 4px;
}
.blog:hover {
    background: #f3f3f3;
}
.blog a {
    color: #000;
    text-decoration: none;
}
.blog img {
    width: 48px;
    height: 48px;
}
.blog-content {
    margin-left: 5vmin;
}
.blog-content h2 {
    font-size: 18px;
    font-weight: 400;
}
